# This is the main, machine-agnostic Git configuration.
# It should only contain settings that are safe to share across all systems.

[user]
	name = Puya Khalili
	email = pooya.khalili@gmail.com

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[include]
  # Include the machine-specific local configuration.
  # This file is NOT committed to the repository.
  path = ~/.gitconfig.local 
[credential "helperselector"]
	selected = manager
[core]
	sshCommand = C:/WINDOWS/System32/OpenSSH/ssh.exe
[gpg "ssh"]
	program = C:\\Users\\puya\\AppData\\Local\\1Password\\app\\8\\op-ssh-sign.exe
