# This is the main, machine-agnostic Git configuration.
# It should only contain settings that are safe to share across all systems.

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[include]
  # Include the machine-specific local configuration.
  # This file is NOT committed to the repository.
  path = ~/.gitconfig.local 